* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: auto;
  font-size: 24px;
}

h1 {
  font-size: 3rem;
}

h3,
h4 {
  color: green;
  margin-bottom: 20px;
}

a:link,
a:active,
a:visited {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: square;
  margin-left: 50px;
}

li {
  margin: 10px;
}

/* Header */
header {
  background-color: lightgray;
  padding: 50px 50px;
  text-align: center;
  margin-bottom: 50px;
}

.visitor-count {
  font-size: 20px;
  margin-bottom: 10px;
}

.aws-badge {
  width: 200px;
  display: inline-block;
  margin: 0 100px;
}

.title {
  display: inline-block;
  padding: 20px;
}

.name {
  margin-bottom: 20px;
}

/* Main Content */
.container {
  width: 80%;
  margin: auto;
  padding: 20px 0;
  border-bottom: 5px solid green;
  margin-bottom: 50px;
}

.job {
  margin-bottom: 50px;
}

.job-title {
  display: inline-block;
  margin-right: 20px;
}

.dates {
  float: right;
}

.certs {
  display: inline-block;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: lightgrey;
  width: 100%;
}

/* Responsive Design */

@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  header h1 {
    font-size: 24px;
  }

  header h2 {
    font-size: 20px;
  }

  section {
    padding: 15px;
  }

  section h3 {
    font-size: 18px;
  }
}
